.categorias {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.lista-categorias {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    list-style-type: none;
}

.lista-categorias-item {
    background-color: rgb(87, 84, 84);
    color: white;
    padding: 4px 8px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.input {
    margin-top: 10px;
    margin-right: 20px;
    height: 30px;
    width: 25%;
}